/* 声明全局属性 */
:root {
  --blue: #2980b9;
  --black: #333;
  --white: #fff;
  --light-color: #777;
  --light-bg: #eee;
  /* 阴影样式 */
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* 设置页面元素的默认样式 */
* {
  /* 字体系列 */
  font-family: "Microsoft YaHei", sans-serif;
  margin: 0;
  padding: 0;
  /* 自动內减，防止边框和内边距撑大盒子 */
  box-sizing: border-box;
  /* 去掉轮廓 */
  outline: none;
  /* 去掉边框 */
  border: none;
  text-decoration: none;
  /* 设置文本中每个单词以大写开头 */
  text-transform: capitalize;
  transition: all 0.2s linear;
}

/* 设置滚动条整体部分样式 */
html::-webkit-scrollbar {
  width: 10px;
}

/* 设置滚动条的轨道样式 */
html::-webkit-scrollbar-track {
  background: var(--blue);
}

/* 设置滚动条里面的上下移动小方块的样式 */
html::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 50px;
}

/* 设置主体container的样式 */
/* 没有设置高度，将来由子元素撑开 */
.container{
  display: flex;
  padding: 100px 10%;
  background: linear-gradient(45deg, deeppink, var(--blue));
}

/* 公共样式 */
/* 标题 */
.title{
  font-size: 25px;
  color: var(--blue);
  margin-bottom: 15px;
}

/* 设置个人概要样式 */
.container .profile{
  position: sticky;/* 粘性定位 */
  top: 20px;
  left: 0;

  flex: 400px;/* 初始宽度是400px，能放大，能缩小 */
  padding: 20px 30px;/* 用于约束内容 */
  background: var(--white);
  border-right: 2px solid var(--black);
  text-align: center;

  align-self: flex-start;/* 不要拉伸，从上面对齐 */
}

/* 设置头像 */
.container .profile img{
  height: 150px;
  width: 150px;
  border: 2px solid var(--black);
  border-radius: 50%;
  margin-bottom: 10px;
}

/* 设置头像下文字 */
.container .profile h3{
  color: var(--black);
  font-size: 20px;
}

.container .profile p{
  color: var(--blue);
  padding: 5px 0;
  font-size: 15px;
}

/* 设置分享a标签样式 */
.container .share{
  margin: 10px 0;
}

.container .share a{
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: var(--light-bg);
  color: var(--black);
  line-height: 50px;
  border-radius: 50%;
}

.container .share a:hover{
  background: var(--blue);
  color: var(--white);
  box-shadow: var(--box-shadow);
}

/* 设置联系按钮样式 */
.container .profile .btn{
  display: inline-block;
  background: var(--blue);
  color: var(--white);
  padding: 7px 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* 设置详细信息样式 */
.container .information{
  flex: 1000px;/* 初始宽度是400px，能放大，能缩小 */
  padding: 20px 30px;/* 用于约束内容 */
  background: var(--white);
}

.information .about p{
  color: var(--light-color);
  font-size: 17px;
  line-height: 2;
  margin-bottom: 10px;
}

/* 使用flex布局设置个人详细信息样式 */
.information .about .box-container{
  display: flex;
  flex-wrap: wrap;/* 换行 */
  gap: 15px;
}

/* 左右两个盒子宽度 */
.information .about .box{
  flex: 250px;
}

.information .about .box h3{
  padding: 10px 0;/* 上下间隙 */
  color: var(--black);
  font-size: 15px;
}

.information .about .box span{
  color: var(--light-color);
}

/* 设置技术栈样式 */
.information .services{
  padding: 20px 0;/* 跟上面有间距 */
}

/* 外层盒子布局 */
.information .services .tp{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* 六个盒子背景样式 */
.information .services .tp .box-tp{
  flex: 50px;
  padding: 20px;/* 让内容跟边距有间距 */
  background: var(--light-bg);
  text-align: center;
  border-radius: 5px;
}

/* 图片样式 */
.information .services .tp img{
  height: 50px;
  margin-bottom: 10px;
}
.information .services .tp h3{
  font-weight: 700;
  color: var(--light-color);
}


/* 设置技能熟练度模块样式(网格布局) */
.information .skills .box-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.information .skills .box-container .progress1{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.information .skills .box-container .progress2{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.information .skills .box-container .progress3{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.information .skills .box-container .progress4{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
.information .skills .box-container .progress5{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.information .skills .box-container .progress6{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.information .skills .box-container .progress7{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
.information .skills .box-container .progress8{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}


/* .information .skills .box{
  flex: 300px;
} */

.information .skills .progress h3{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--black);
  font-size: 15px;
}

.information .skills .progress span{
  color: var(--light-color);
}

/* 设置进度条样式 */
.information .skills .progress .bar{
  height: 10px;
  background: var(--light-bg);
  border-radius: 5px;
}

.information .skills .progress .bar span{
  display: block;
  height: 100%;
  background: var(--blue);
  border-radius: 5px;
}



/* 设置学习经历模块 */
.information .experience{
  margin: 20px 0;
}

.information .experience .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* 设置经历背景样式 */
.information .experience .box{
  flex: 350px;
  background: var(--light-bg);
  padding: 20px;
  border-radius: 5px;
}

/* 设置文本样式 */
.information .experience .box span{
  color: var(--blue);
  font-size: 15px;
}

.information .experience .box h3{
  color: var(--black);
  padding: 5px 0;
  font-size: 17px;
}

.information .experience .box p{
  color: var(--light-color);
  font-size: 13px;
  line-height: 2;/* 行间距 */
}


/* 设置联系方式布局 */
.information .contact .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* 三个盒子布局 */
.information .contact .box-container .box{
  flex: 200px;
  display: flex;
  gap: 15px;
}

/* 图标样式 */
.information .contact .box i{
  width: 40px;
  height: 40px;
  font-size: 15px;
  background: var(--blue);
  color: var(--white);
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}

/* 信息样式 */
.information .contact .box h3{
  color: var(--black);
  padding-bottom: 5px;
  font-size: 17px;
}

.information .contact .box p{
  color: var(--light-color);
  font-size: 14px;
  line-height: 2;
}

/* 在1200px宽度以内显示的样式 */
@media (max-width:1200px){
  .container{
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }

  .container .profile{
    position: static;/* 去掉之前的粘性定位 */
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-right: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
  }

  .container .information{
    box-shadow: var(--box-shadow);
    border-radius: 5px;
  }
}

/* 在600px宽度以内显示的样式 */
@media (max-width:600px){
  .container .profile{
    width: 100%;
  }

  .container .profile .btn{
    width: 100%;
  }

  .container .information .about p{
    font-size: 12px;
  }

  .container .information .experience .box p{
    font-size: 12px;
  }
}