/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * COLORS
   */

  /* background colors */
  --bg-white: hsla(0, 0%, 100%, 1);
  --bg-light-gray: hsla(240, 1%, 83%, 1);
  --bg-jet: hsla(0, 0%, 18%, 1);
  --bg-eerie-black: hsla(0, 0%, 13%, 1);
  --bg-rich-black-fogra-29: hsla(229, 23%, 9%, 1);
  --bg-smoky-black: hsla(0, 0%, 6%, 1);
  --bg-black: hsla(0, 0%, 0%, 1);

  /* gradient colors */
  --gradient-1: linear-gradient(to top, var(--bg-black) 0%, transparent 40%);
  --gradient-2: radial-gradient(circle at 75% 100%, hsla(79, 100%, 70%, 0.3) 0%, transparent 100%);

  /* text colors */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-light-gray: hsla(240, 1%, 83%, 1);
  --text-rich-black-fogra-29: hsla(216, 42%, 12%, 1);
  --text-smoky-black: hsla(0, 0%, 6%, 1);
  --text-black: hsla(0, 0%, 0%, 1);

  /* border colors */
  --border-white: hsla(0, 0%, 100%, 1);
  --border-light-gray: hsla(240, 1%, 83%, 1);
  --border-gainsboro: hsla(220, 13%, 91%, 1);
  --border-eerie-black: hsla(0, 0%, 13%, 1);
  --border-smoky-black: hsla(0, 0%, 6%, 1);

  /**
   * TYPOGRAPHY
   */


  /* font size */
  --fontSize-1: 4.6rem;
  --fontSize-2: 4.5rem;
  --fontSize-3: 4rem;
  --fontSize-4: 3rem;
  --fontSize-5: 2.4rem;
  --fontSize-6: 1.8rem;
  --fontSize-7: 2rem;
  --fontSize-8: 1.6rem;
  --fontSize-9: 1.5rem;
  --fontSize-10: 1.4rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;


  /**
   * BORDER RADIUS
   */

  --radius-pill: 500px;
  --radius-circle: 50%;

  /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
textarea,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-black);
  color: var(--text-light-gray);
  font-family: var(--fontFamily-roboto);
  font-size: var(--fontSize-8);
  line-height: 1.75;
  /* overflow: hidden; */
}

body.loaded { overflow-y: auto; }

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { border-inline-start: 1px solid var(--border-eerie-black); }

::-webkit-scrollbar-thumb { background-color: var(--bg-white); }


/* 开屏样式 */


/* 顶部导航 */
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 90px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 56px;
}

.header .container .navtop{
  display: flex;
  gap: 50px;
}
.header .container .navtop a{
  padding: 8px;
  margin-top: 4px;
}

.btn{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-white);
  background: var(--bg-smoky-black);
  font-size: var(--fontSize-9);
  height: 56px;
  padding: 0 30px;
}
.btn:hover{
  border: 1px solid var(--bg-white);
}
.header .container .btn i{
  font-size: 1.8rem;
}

/* 给header添加固定定位样式 */
.header.active{
  position: fixed;
  background: var(--bg-jet);
  padding: 10px 90px;
  animation: roll 0.5s;
  z-index: 2000;
}
@keyframes roll {
  from{transform: translateY(-100%);}
  to{transform: translateY(0);}
}



/* 第一部分 */
.section1{
  /* position: relative; */
  padding-top: 160px;
}
.section1 .container{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  /* width: 1320px; */
  margin: 0 auto;
  padding: 0 16px;
}

/* 左边 */
.section1 .container .left{
  padding-top: 70px;
  width: 50%;
}
.section1 .container .left h1{
  color: var(--text-white);
  font-weight: var(--weight-regular);
  font-size: 90px;
  line-height: 1.2;
}
.section1 .container .left .wrapper{
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}

/* 右边 */
.section1 .container .right{
  position: relative;
  margin: 0 100px;
  border-radius: var(--radius-pill);
  overflow: hidden;
}
.section1 .container .right img{
  width: 410px;
}
.section1 .container .right span{
  position: absolute;
  bottom: 40px;
  left: 110px;
  color: var(--text-white);
  font-size: 40px;
  font-weight: var(--weight-regular);
}

/* 第一部分背景样式 */
.section1 .container .shape1{
  top: -60px;
  left: 120px;
}
.section1 .container .shape2{
  top: 17;
  left: 0px;
}
.section1 .container .shape{
  position: absolute;
  z-index: -1;
}



/* 第二部分 */
.section2{
  margin-top: 100px;
  border-top: 1px solid var(--border-eerie-black);
  border-bottom: 1px solid var(--border-eerie-black);
}
.section2 .container{
  /* width: 1320px; */
  margin: 0 auto;
}
.section2 .container .list{
  display: flex;
  gap: 158px;
}
.section2 .container .list .item{
  position: relative;
  width: 25%;
  padding: 45px 0;
  border-left: 1px solid var(--bg-eerie-black);
  border-right: 1px solid var(--bg-eerie-black);
}
.section2 .container .list .item img{
  margin: auto;
  opacity: 1;
}
.section2 .container .list .item h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--text-white);
  font-size: var(--fontSize-5);
  font-weight: var(--weight-regular);
  line-height: 1.3;
  transition: var(--transition-1);
  opacity: 0;
}
.section2 .container .list .item:hover img{
  opacity: 0;
}
.section2 .container .list .item:hover h3{
  opacity: 1;
}



/* 第三部分 */
.section3{
  padding: 100px 0;
}
.section3 .container{
  /* width: 1320px; */
  padding: 0 16px;
  margin: auto;
}
.section3 .container .container-box{
  border: 1px solid var(--border-eerie-black);
}
/* 第三部分导航栏 */
.section3 .container .container-box .navtop{
  display: flex;
  flex-wrap: wrap;
}
.section3 .container .container-box .navtop li{
  width: 20%;
  flex-grow: 1;
}
.section3 .container .container-box .navtop li:not(:first-child){
  border-left: 1px solid var(--border-eerie-black);
}
.section3 .container .container-box .navtop li:hover{
  background: var(--bg-eerie-black);
}
/* 导航栏激活样式 */
.section3 .container .container-box .navtop .active{
  background: var(--bg-eerie-black);
}
.section3 .container .container-box .navtop button{
  width: 100%;
  color: var(--text-white);
  font-size: var(--fontSize-6);
  padding: 16px 0;
  border-bottom: 1px solid var(--border-eerie-black);
}

/* 下方内容1 */
.section3 .content1{
  display: block;
  padding: 60px;
}
.section3 .content1 .content1-box{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.section3 .content1 .content1-box .right h2{
  color: var(--text-white);
  font-size: 40px;
  font-weight: var(--weight-regular);
  margin-bottom: 30px;
  line-height: 1.3;
}
.section3 .content1 .content1-box .right .title{
  margin-bottom: 20px;
}
/* 右边下方网格布局 */
.section3 .content1 .content1-box .right .list{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section3 .content1 .content1-box .right .list li:not(:last-child){
  margin-bottom: 20px;
}
.section3 .content1 .content1-box .right .list span{
  color: var(--text-white);
  font-weight: var(--weight-regular);
  font-size: var(--fontSize-7);
  line-height: 1.4;
}
/* 社交媒体 */
.section3 .content1 .content1-box .right .list .social{
  display: flex;
  align-items: center;
  gap: 20px;
}
.section3 .content1 .content1-box .right .list .social a{
  font-size: var(--fontSize-6);
  color: var(--text-white);
}

/* 下方内容2 */
.section3 .content2{
  display: none;
  padding: 60px;
}
.section3 .content2 .content2-box{
  display: flex;
  gap: 50px;
}
.section3 .content2 .content2-box .left h3{
  color: var(--text-white);
  font-size: 40px;
  font-weight: var(--weight-regular);
  margin-bottom: 30px;
  line-height: 1.3;
}
.section3 .content2 .content2-box .left p{
  margin-bottom: 20px;
}
/* 下方进度条列表 */
.section3 .content2 .content2-box .left .list .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 12px 0;
}
.section3 .content2 .content2-box .left .list .bottom{
  background: var(--bg-smoky-black);
  height: 4px;
}
.section3 .content2 .content2-box .left .list .bottom span{
  background: var(--bg-white);
  height: 100%;
}

/* 下方内容3 */
.section3 .content3{
  display: none;
  padding: 60px;
}
.section3 .content3 .content3-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
/* play按钮 */
.section3 .content3 .content3-box .list{
  position: relative;
}
.section3 .content3 .content3-box .list .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  justify-content: center;
  color: var(--text-smoky-black);
  background: var(--bg-white);
  border-radius: var(--radius-circle);
}

/* 下方内容4 */
.section3 .content4{
  display: none;
  padding: 60px;
}
.section3 .content4 h3{
  color: var(--text-white);
  font-size: 40px;
  font-weight: var(--weight-regular);
  margin-bottom: 30px;
  line-height: 1.3;
}
.section3 .content4 .list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.section3 .content4 .list li{
  width: 355px;
  height: 255px;
}

/* 下方内容5 */
.section3 .content5{
  display: none;
  padding: 60px;
}
.section3 .content5 .list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}
.section3 .content5 .list li{
  position: relative;
  width: 350px;
  height: 190px;
}
/* 图标样式 */
.section3 .content5 .list li i{
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  right: 30px;
  color: var(--bg-smoky-black);
  width: 40px;
  height: 40px;
  background-color: var(--bg-white);
  border-radius: var(--radius-circle);
}



/* 第四部分 */
.section4{
  padding: 40px 0;
  border-top: 1px solid var(--border-eerie-black);
  border-bottom: 1px solid var(--border-eerie-black);
}
.section4 .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 1320px; */
  margin: 0 auto;
  padding: 0 16px;
}
.section4 .container h2{
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--text-white);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular);
  line-height: 1.3;
}
/* 文字右侧半圆样式 */
.section4 .container h2::before{
  content: "";
  display: block;
  background-color: var(--bg-white);
  width: 30px;
  height: 60px;
  border-radius: 0px 30px 30px 0;
}



/* 第五部分 */
.section5{
  padding: 100px 0;
}
.section5 .container{
  display: flex;
  gap: 30px;
}
.section5 .container li{
  width: 458px;
  height: 564px;
}
.section5 .container li .picture{
  position: relative;
}
/* 背景阴影样式设置 */
.section5 .container li .picture .bj{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg-rich-black-fogra-29);
  background-image: var(--gradient-2);
  transition: var(--transition-1);
  opacity: 0;
}
.section5 .container li .picture:hover .bj{
  opacity: 0.9;
}
/* 按钮样式设置 */
.section5 .container li .picture .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  opacity: 0;
}
.section5 .container li .picture:hover .btn{
  opacity: 1;
}
/* 下方文字信息 */
.section5 .container li .info{
  text-align: center;
  padding: 24px 30px 0;
}
.section5 .container li .info p{
  font-size: var(--fontSize-10);
  margin-bottom: 10px;
}
.section5 .container li .info h3{
  color: var(--text-white);
  font-size: 40px;
  font-weight: var(--weight-regular);
  line-height: 1.3;
}
.section5 .container li .info h3 a:hover{
  display: inline;
  border-bottom: 1px solid var(--bg-white);
}



/* 第六部分 */
.section6{
  padding: 100px 0;
  border-top: 1px solid var(--border-eerie-black);
  border-bottom: 1px solid var(--border-eerie-black);
}
.section6 .container{
  /* width: 1320px; */
  margin: 0 auto;
  padding: 0 16px;
}
.section6 .container .content{
  padding-left: 15px;
}
/* 标题 */
.section6 .container .content h2{
  color: var(--text-white);
  font-size: 40px;
  font-weight: var(--weight-regular);
  margin-bottom: 20px;
  line-height: 1.5;
}
.section6 .container .content .info{
  display: flex;
  align-items: center;
  gap: 20px;
}
.section6 .container .content .info .info-1{
  color: var(--text-white);
  font-size: var(--fontSize-7);
  font-weight: var(--weight-regular);
  line-height: 1.3;
}
.section6 .container .content .info .info-2{
  font-size: var(--fontSize-10);
}



/* 第七部分 */
.section7{
  padding: 100px 0;
}
.section7 .container{
  /* width: 1320px; */
  margin: 0 auto;
  padding: 0 16px;
}
.section7 .container h2{
  color: var(--text-white);
  font-size: 70px;
  font-weight: var(--weight-regular);
  line-height: 1.3;
  margin-bottom: 25px;
}

/* 下方布局 */
.section7 .container .content{
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.6fr;
  align-items: center;
  gap: 30px;
}
/* 左侧个人信息 */
.section7 .container .content form .input{
  height: 50px;
  color: var(--text-white);
  padding: 12px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-eerie-black);
}
.section7 .container .content form .input::placeholder{
  color: var(--text-light-gray);
}
.section7 .container .content form textarea{
  min-height: 165px;
  resize: none;
}
/* 地图 */
.section7 .container .content .map{
  width: 500px;
  height: 450px;
}
/* 右侧联系信息 */
.section7 .container .content .list li{
  display: flex;
  align-items: center;
  gap: 15px;
}
.section7 .container .content .list li .info span{
  color: var(--text-light-gray);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-regular);
}
.section7 .container .content .list li:not(:last-child){
  border-bottom: 1px solid var(--border-eerie-black);
  padding-bottom: 30px;
  margin-bottom: 30px;
}



/* 底部布局 */
.footer{
  border-top: 1px solid var(--border-eerie-black);
}
.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* width: 1320px; */
  margin: 0 auto;
  padding: 0 16px;
}
.footer .container .back{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-white);
  padding: 32px 16px;
  border-left: 1px solid var(--border-eerie-black);
  border-right: 1px solid var(--border-eerie-black);
}



/* 响应式布局 */
@media (min-width:575px) {
  .section1 .container,
  .section2 .container,
  .section3 .container,
  .section4 .container,
  .section6 .container,
  .section7 .container,
  .footer .container{
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }

  .section1 .container{
    flex-wrap: wrap-reverse;
  }
  .section1 .container .right img{
    max-width: 410px;
  }

  .section2 .container .list{
    flex-wrap: wrap;
  }
  .section2 .container .list .item{
    width: 50%;
  }

  .section3 .content{
    padding: 40px;
  }

  .section7 .container .content{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width:768px) {
  .section1 .container,
  .section2 .container,
  .section3 .container,
  .section4 .container,
  .section6 .container,
  .section7 .container,
  .footer .container{max-width: 720px;}

  .section1{
    text-align: left;
  }
  .section1 .container{
    flex-wrap: nowrap;
  }
  .section1 .container .right img{
    order: 1;
  }

  .section2 .container .list .item{
    width: 25%;
  }

  .section3 .container .container-box .navtop li{
    width: 20%;
  }
}

@media (min-width:992px) {
  .section1 .container,
  .section2 .container,
  .section3 .container,
  .section4 .container,
  .section6 .container,
  .section7 .container,
  .footer .container{max-width: 960px;}

  .section1 .container .right img{
    max-width: 366px;
  }

  .section2 .container .list{
    flex-wrap: nowrap;
  }

  .section2 .container .btn{
    flex-shrink: 0;
    margin: 0;
  }

}


@media (min-width:1200px) {
  .section1 .container,
  .section2 .container,
  .section3 .container,
  .section4 .container,
  .section6 .container,
  .section7 .container,
  .footer .container{max-width: 1200px;}

  .section1 .container .right img{
    max-width: 410px;
  }
}

@media (min-width:1400px) {
  .section1 .container,
  .section2 .container,
  .section3 .container,
  .section4 .container,
  .section6 .container,
  .section7 .container,
  .footer .container{max-width: 1320px;}

  .section7 .container .content{
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.6fr;
    align-items: center;
    gap: 30px;
  }
}